@charset "UTF-8";

/*Estilos Gerais*/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.row {
  margin: 0px;
}

.container {
  padding: 70px 0px;
}

p,
li {
  color: #444;
  font-size: 14px;
}

/*Barra de navegação*/

header,
.navbar {
  background-color: #65daf9;
}

#nav-container {
  padding-top: 0px;
  padding-bottom: 0px;
}

#logo {
  width: 75px;
  margin: 0px 10px 0px 10px;
}

.navbar-brand {
  padding: 0px;
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

#navbar-links a {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 0.8rem;
}

/*Slider*/

.container-fluid {
  padding: 0px;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
#mainSlider .carousel-caption p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
}

.main-btn {
  background-color: #65daf9;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: 0.5s;
}

.main-btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #65daf9;
}

.carousel-indicators .active {
  background-color: #65daf9;
}

/*Sobre a empresa*/

#about-area {
  background-color: #f9f9f9;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
  position: relative;
}
.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}
.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}
#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}
#about-list i {
  color: #65daf9;
  margin-right: 15px;
}

/*Serviços*/

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i,
.service-box h4 {
  transition: 0.5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover > i,
.service-box:hover > h4 {
  color: #65daf9;
  cursor: pointer;
}

/*Dados*/

.circle-box div {
  padding: 0 40px;
}

.progressbar-text {
  font-weight: bold;
  font-size: 32px;
}

#data-area {
  background: black url("../img/cidadeparallax.png") no-repeat fixed;
  background-size: cover;
}
#data-area p {
  color: #fff;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

/*Time*/

.card-body {
  text-align: center;
}

/*Trabalhe conosco*/

#apply-area {
  height: 500px;
}
#apply-area .container-fluid,
#apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  text-align: center;
  padding: 70px 50px;
}

#company-img {
  background-image: url("../img/empresa.jpg");
  background-size: cover;
  height: 100%;
}

#pattern-img h4,
#pattern-img p {
  color: #fff;
}

#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p {
  margin-bottom: 20px;
}

#pattern-img {
  background: url("../img/pattern.png") no-repeat fixed;
  background-size: cover;
}

#apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #fff;
}

#apply-btn:hover {
  border-color: #65daf9;
  background-color: #65daf9;
}

/*Portfolio*/

.project-box {
  margin-bottom: 30px;
}

#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portfolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

#portfolio-area .filter-btn.active,
#portfolio-area .filter-btn:hover {
  color: #fff;
  background-color: #65daf9;
  border-color: #65daf9;
}

/*news letter*/

#news-area {
  text-align: center;
  background-color: #f6f6f6;
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}
#email-input {
  border-radius: 0px;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid #65daf9;
  display: inline;
  box-sizing: border-box;
  width: 75%;
  height: 40px;
}
#news-btn {
  color: #fff;
  background-color: #65daf9;
  border: 1px solid #65daf9;
  border-radius: 0px 20px 20px 0px;
  box-sizing: border-box;
  height: 40px;
  text-transform: uppercase;
  padding: 0 30px;
  margin: -130px;
  transition: 0.5s;
}

#news-btn:hover {
  background-color: #fff;
  color: #65daf9;
}

/*Call to action*/

#call-area {
  color: #fff;
  background-color: #65daf9;
  text-transform: uppercase;
}
#call-area .container {
  padding: 40px 100px;
}
#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
  margin-bottom: 0;
  display: inline;
  height: 60px;
  line-height: 60px;
}

#call-area #call-btn {
  background-color: #fff;
  color: #65daf9;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  width: auto;
  letter-spacing: 2px;
}

/*Footer*/

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #3ec1d5;
}

.contact-box i {
  color: #444;
  font-size: 24px;
  border: 1px solid #444;
  border-radius: 50%;
  margin-bottom: 20px;
  width: 55px;
  height: 55px;
  line-height: 55px;
}

.contact-box p {
  text-align: center;
  font-size: 16px;
}

.contact-title {
  font-weight: bold;
  color: #3ec1d5;
}

#msg-box p {
  font-size: 22px;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}
#contact-form .main-btn {
  width: 120px;
  height: 50px;
}
#contact-form .main-btn:hover {
  color: #65daf9;
}

/*Copy*/

#copy-area {
  background-color: #f1f1f1;
}
#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}
#copy-area .container a:hover {
  text-decoration: none;
  color: #3ec1d5;
}

/*Responsive*/
@media (max-width: 768px) {
  /*general*/
  .container {
    padding: 20px;
  }
  /*carousel*/
  #mainSlider .carousel-inner,
  #mainSlider .carousel-item {
    height: auto;
  }
  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }
  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .carousel-caption {
    left: 10%;
    right: 10%;
  }

  /*about-area*/
  #about-area img {
    margin-top: 100px;
  }
  /*data*/
  .circle-box div {
    padding: 0 15px;
  }
  #data-area p {
    font-size: 16px;
  }

  /*Team*/
  .card-title {
    font-size: 14px;
  }
  .card-text {
    font-size: 12px;
  }
  /*Apply*/
  #apply-area .apply-box {
    padding: 50px 25px;
  }
  /*news*/
  #news-area {
    margin-bottom: 10px;
  }
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #email-input {
    width: 56%;
  }
  #news-btn {
    margin: -5px;
  }
  /*call-area*/
  #call-area {
    margin-top: 30px;
  }
  #call-area .container {
    padding: 30px;
  }

  #call-area p,
  #call-area #call-btn {
    font-size: 15px;
  }
}

@media (max-width: 426px) {
  #mainSlider {
    margin-top: 90px;
  }
  #mainSlider .carousel-caption {
    top: 5%;
  }
  #mainSlider .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  #mainSlider .carousel-caption p {
    display: none;
  }
  #mainSlider .main-btn {
    font-size: 14px;
  }
  /*about*/
  .main-title {
    margin-top: 20px;
    font-size: 30px;
  }
  #about-area img {
    margin: 0;
    margin-top: -15px;
    margin-bottom: 20px;
  }
  #about-area .about-title {
    text-align: center;
  }
  #about-area p {
    text-align: justify;
    margin-top: 10px;
  }

  /*data*/
  .circle-box {
    width: 50%;
  }

  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }

  /*portfolio*/
  #apply-area {
    height: auto;
  }
  #company-img {
    display: none;
  }
  #portfolio-area .filter-btn {
    margin-bottom: 20px;
  }
  #portfolio-area .project-box {
  }
  #portfolio-area #filter-btn-box > #dsgbtn {
    position: relative;
    left: -30px;
  }
  #portfolio-area .project-box {
    width: 50%;
  }
  /*news*/
  #news-area .main-title {
    font-size: 27px;
  }
  #news-btn {
    padding: 0;
    margin: -5px;
    width: 30%;
  }
  #email-input {
    width: 60%;
  }
  /*call-area*/
  #call-area {
    padding: 15px;
  }
  #call-area .container {
    padding: 0;
    left: 10%;
    right: 10%;
  }
  #call-area p,
  #call-area #call-btn {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
    height: 44px;
    width: 32%;
  }
  /*footer*/
  #contact-area form textarea {
    height: 120px;
  }
  #contact-form .main-btn {
    width: 100px;
    height: 45px;
    font-size: 15px;
  }
}

@media (min-width: 336px) and(max-width:425px) {
  #mainSlider .carousel-caption .main-btn {
    font-size: 12px;
  }
}
